html
	head
		link(rel="stylesheet", href="css/main.min.css")
	body
		include src/header.pug
		include src/section__histori.pug
		include src/section__watch.pug
		include src/section__expertise.pug
		include src/section__amazing.pug
		include src/section__works.pug
		include src/section__quote.pug
		include src/section__forms.pug
		include src/footer.pug
