header.container
	.nav__menu
		img(src="image/logo.png", alt="tajam", class='logo')
		nav
			ul(class='menu')
				li 
					a(href='#') Home
				li 
					a(href='#') About
				li 
					a(href='#') Expertise
				li 
					a(href='#') Teams
				li 
					a(href='#') Works
				li 
					a(href='#') people say
				li 
					a(href='#') Contact
	.header__sliderbar
		h1 We Are Awesome Creative Agency
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda inventore blanditiis 
		p Lorem ipsum dolor sit amet, consectetur Assumenda inventore blanditiis nulla hic, dolorum 
		p Lorem ipsum dolor sit amet blanditiis nulla hic, dolorum 
	.header__btn
		a(class='button',href='#') learn more