section.container_1

img(src="image/logo.png", alt="")
.story
	h3 our story
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim possimus at animi optio, corporis, aliquid odit consectetur. Saepe totam sequi dolores corrupti, eius, dolorem doloremque, vitae repellat esse quia eaque.
	br
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni vero, dolorum dicta distinctio. Atque natus tempora ad facilis recusandae ea non, voluptates vel impedit inventore id adipisci consequatur doloremque deserunt.
.history__btn
	a(class='button',href='#') learn more