.expertise
	h3 Expertise
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aliquid, repudiandae quidem, eius exercitationem sunt tempore voluptatum harum asperiores, facilis ducimus vitae corporis nesciunt eos animi molestiae similique culpa perspiciatis.
.developert
	img(src="image/logomonitor.png", alt="")
	h5 web desing developert
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis, assumenda. Sit voluptate quos quae quo ab unde repudiandae, dicta expedita aspernatur fuga amet commodi, sapiente magnam, numquam eum quaerat.
.brend
	img(src="image/brend.png", alt="")
	h5 web desing  developert
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis, assumenda. Sit voluptate quos quae quo ab unde repudiandae, dicta expedita aspernatur fuga amet commodi, sapiente magnam, numquam eum quaerat.
.mobileapp
	img(src="image/mobileapp.png", alt="")
	h5 web desing developert
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis, assumenda. Sit voluptate quos quae quo ab unde repudiandae, dicta expedita aspernatur fuga amet commodi, sapiente magnam, numquam eum quaerat.
.optimization
	img(src="image/optimization.png", alt="")
	h5 web desing  developert
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis, assumenda. Sit voluptate quos quae quo ab unde repudiandae, dicta expedita aspernatur fuga amet commodi, sapiente magnam, numquam eum quaerat.
.game
	img(src="image/game.png", alt="")
	h5 web desing  developert
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis, assumenda. Sit voluptate quos quae quo ab unde repudiandae, dicta expedita aspernatur fuga amet commodi, sapiente magnam, numquam eum quaerat.
.love
	img(src="image/love.png", alt="")
	h5 web desing  developert
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis, assumenda. Sit voluptate quos quae quo ab unde repudiandae, dicta expedita aspernatur fuga amet commodi, sapiente magnam, numquam eum quaerat.
	